name: "joern_demo"

on:
  workflow_dispatch:
    
  push: # Triggers scan-repo flow for every push to the specified branches
    branches:
      - main
    paths:
      - 'src/**'
      - 'Dockerfile'
      - 'README.md'

permissions:
  pull-requests: write
  contents: read
  security-events: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    #env:
    #  NPM_TOKEN: ${{ secrets.DEBUG_TOKEN }}
    # strategy:
    #   matrix:
    #     # The repository scanning will be triggered periodically on the following branches.
    #     branch: ["main"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli
        env:
          JF_URL: https://solengeu.jfrog.io
          #JF_PROJECT: ${{ vars.JF_PROJECT }}
          # 01 no effect##JFROG_CLI_BUILD_PROJECT: ${{ vars.JF_PROJECT }}
          ##JFROG_CLI_LOG_LEVEL: DEBUG
        with:
          oidc-provider-name: joern-github
          #version: 2.81.0

      - name: JFrog CLI Test
        run: |
          jf rt ping

      - name: Authenticate Docker Repo
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.JF_URL }}
          username: ${{ steps.setup-cli.outputs.oidc-user }}
          password: ${{ steps.setup-cli.outputs.oidc-token }}


      # - name: Scan Source configured
      #   run: |
      #     jf audit \
      #       --watches "w-critical" \
      #       --extended-table \
      #       --sast --sca --secrets \
      #       --npm \
      #       --sbom \
      #       --format=table > scan-result-audit 

      # - name: Push Source Code Artifacts to GitHub
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: source-code-scan
      #     path: scan-result-audit


      - name: Setup Node npm
        uses: actions/setup-node@v3
           
      - name: Setup npm-config
        run: jf npm-config --global=true --repo-resolve=joern_demo-joe-npm-app-remote --repo-deploy=joern_demo-joe-npm-app-local
                      
      - name: Install Deps
        #working-directory: ./src
        run: jf npm install

      - name: debug
        if: always()  
        #working-directory: ./
        run: |
          cat .npmrc

      - name: debug2
        if: always()  
        #working-directory: ./src
        run: |
          cat .npmrc

      - name: Start App
        #working-directory: ./src
        run: |
           npm start &
           npx wait-on http://localhost:3000 -t 30000
           
      - name: Run tests
        #working-directory: ./src
        run: npm test
         
      - name: Publish
        #working-directory: ./src
        run: jf npm publish --project="joern_demo"

      # - name: Build Docker Image
      #   working-directory: ./
      #   env:
      #     IMAGE_NAME: joefrog.jfrog.io/myapp-dev-docker/myapp-image:${{ github.run_number }}
      #   run: |
      #     jf docker build -t $IMAGE_NAME .

      # - name: Collect Docker Build Environment
      #   run: jf rt bce 

      # - name: Scan Docker Image
      #   working-directory: ./
      #   env:
      #     IMAGE_NAME: joefrog.jfrog.io/myapp-dev-docker/myapp-image:${{ github.run_number }}
      #   run: |
      #     jf docker scan $IMAGE_NAME \
      #       --project=myapp \
      #       --format=json  > scan-result-image.json \
      #       --watches "w-critical" \
      #       --detailed-summary \
      #       --licenses

      # - name: Push Docker Image
      #   working-directory: ./
      #   env:
      #     IMAGE_NAME: joefrog.jfrog.io/myapp-dev-docker/myapp-image:${{ github.run_number }}
      #   run: |
      #     jf docker push $IMAGE_NAME --project=myapp


      # - name: Push Scan Artifacts to GitHub
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: scan-results-image
      #     path: scan-result-image.json


      - name: Publish Build info With JFrog CLI
        #working-directory: ./src
        run: |
          # Collect environment variables for the build
          jf rt build-collect-env --project="joern_demo"
          # Collect VCS details from git and add them to the build
          jf rt build-add-git --project="joern_demo"
          # Publish build info
          ##jf rt build-publish --detailed-summary --env-include="*" --project=myapp
          jf rt build-publish --detailed-summary --project="joern_demo"

      # - name: Wait 30s for Indexing
      #   run: |
      #     sleep 30

      - name: Buld scan
        run: |
          jf build-scan --project="joern_demo" # Build Info in GitHub Summary: Security Issues
